body {
    background-image: url('/images/unsplash222.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blackg; /* Text color */
    margin: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #5b848de9;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

li button {
    background: #8dbcc6da;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background: gray;
}

#colorButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Additional style for when the button is clicked
#colorButton.clicked {
    background-color: red;
} */

#clrBtn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    /* background-color: black; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}