<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tms login</title>
    <link rel="stylesheet" href="/static/sign_up.css">
</head>
<body>
    <!-- <div class="overlay"></div> -->
    <div class="container">
      
        <!-- login form -->
        <div id="login-form">
            <h3>login</h3>
            <form>
                <div class="form-group">
                    <label for="login-email">email</label>
                    <input type="email" id="login-email" placeholder="type your email" required>
                </div>
                <div class="form-group">
                    <label for="login-password">password</label>
                    <input type="password" id="login-password" placeholder="type your password" required>
                </div>
                <button type="submit" class="btn">login</button>
            </form>
            <div class="toggle-form">
                don't have an account? create one <a href="#" onclick="toggleForm('signup-form', 'login-form')">here!</a>
            </div>
        </div>

        <!-- Signup Form -->
        <div id="signup-form" style="display: none;">
            <h3>sign up</h3>
            <form>
                <div class="form-group">
                    <label for="signup-name">full name</label>
                    <input type="text" id="signup-name" placeholder="enter your full name" required>
                </div>
                <div class="form-group">
                    <label for="signup-email">email</label>
                    <input type="email" id="signup-email" placeholder="type your email" required>
                </div>
                <div class="form-group">
                    <label for="signup-password">password</label>
                    <input type="password" id="signup-password" placeholder="type your password" required>
                </div>
                <div class="form-group">
                    <label for="signup-password">confirm password</label>
                    <input type="password" id="signup-password" placeholder="confirm your password" required>
                </div>
                <button type="submit" class="btn">sign up</button>
            </form>
            <div class="toggle-form">
                already have an account? <a href="#" onclick="toggleForm('login-form', 'signup-form')">login here!</a>
            </div>
        </div>
    </div>

    <script src="/static/sign_up.js"></script>
</body>
</html>
