<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>td list</title>
    <link rel="stylesheet" href="/static/tasks.css">
</head>
<body>
    <div class="overlay">
        
        
       

    <div class="container">
        <input type="text" id="taskInput" placeholder="Add your task">
        <button onclick="addTask()">add task</button> <br><br>


        
        <!-- <button  onclick="changeColor()">to-do</button> 
        <button id="clrBtn" onclick="changeColor()">in progress</button>
        <button id="clrBtnDone"  onclick="changeColor()">Done</button> -->


        <ul id="taskList"></ul>

    </div>


    <script src="/static/tasks.js"></script>
</body>
</html>
<!-- <br><br>
id="clrBtn"  -->